.card{
    animation: 0ms;
    position: relative;
    margin: auto 0px 15px;
    overflow: hidden;
    width: 520px;
    height: 310px;
    background: rgba(255, 250, 250, 0.5);
    border-radius:10px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  
}
.info::-webkit-scrollbar {
    -webkit-appearance: none;
	background-color: none;
}
.info::-webkit-scrollbar:vertical {
    width:2px;
}
.info::-webkit-scrollbar-button:increment,.info::-webkit-scrollbar-button {
    display: none;
} 

.info::-webkit-scrollbar-thumb {
    background-color: rgba(221, 207, 220, 0.37);
    border-radius: 20px;
    border: 0.5px solid #000000b2;
}
.info::-webkit-scrollbar-track {
    border-radius: 10px;  
}
.info{
    overflow-y:hidden;
    overflow: scroll;
    position: absolute;
  width: 40%;
  height: 100%;
  top: 10%;
  left: 59%;
  position: absolute;

}


.card:hover {
    background-color: #a59f7dbe; /* Green */
    color: rgb(0, 0, 0);
    border-radius: 10%;
    
}


.img{
    animation: 0ms;
    width: 50%;
     margin: 5px;
    border-radius: 10%;
}
.posicionInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
    width: 100%;
    height: 80%;
   
}

#card img {width: 100%;height: 100%;}

.btn{
    background-color: rgba(241, 241, 241, 0.514);
    color: rgb(49, 33, 33);
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    top: 85%;
    height: 11%;
    width: 50%;
    margin-bottom: 21%;
    margin : 5px;
    box-shadow: 0 0 5px black;
    border:none
    
}


.btn:hover {
    background-color: rgba(138, 136, 136, 0.185); 
    color: rgb(0, 0, 0);
} 

@media only screen and (max-width: 500px) and (min-width: 300px) {
    .card{
        margin: 5px;
        width: 350px;
        display:flex;
        height:40vh;
    }
    .btn{
        margin : 5px;
        width: 50%;
        top: 80%;
        background-color: rgba(255, 255, 255, 0.664);
        font-size: 16px;
        border:none;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.432)
    }
    .info{
        overflow: scroll;
    }
}


